@import '../styles/variables';

.category-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.trailer-box {
  @include baseBox;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 15px;
}
.trailer-title {
  font-size: 20px;
  text-align: center;
  color: $c-main-text;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5px;
  max-width: 220px;
}
.trailer-image {
  display: block;
  width: 200px;
  cursor: pointer;
  margin-top: 30px;
}