@import "styles/base";

.category-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(medium) {
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
  }
}

.trailer-box {
  @include baseBox;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 15px 20px;
}
.trailer-title {
  font-size: 16px;
  text-align: center;
  color: $c-main-text;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5px;
  max-width: 220px;
  @include breakpoint(medium) {
    font-size: 20px;
  }
}
.trailer-image {
  display: block;
  width: 200px;
  cursor: pointer;
  margin-top: 30px;
}