@import "styles/base";

.backdrop{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($c-grey--dark, .5);
  display: block;
  z-index: 10;
}

.wrapper {
  @include boxShadow;
  position: relative;
  background-color: $c-white;
  width: 100%;
  @include breakpoint(medium) {
    margin: 50px auto;
    width: 600px;
  }
}

.header {
  position: relative;
  svg {
    transition: all .3s;
    position: absolute;
    top: 15px;
    right: 15px;
    fill: $c-green-text;
    width: 30px;
    cursor: pointer;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }
}

.title {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: $c-green-text;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  text-shadow: 0 1px 0 #000;
  letter-spacing: 2px;
  @include breakpoint(medium) {
    font-size: 28px;
    bottom: 20px;
  }
}

.body {
  color: $c-grey--dark;
  padding: 30px;
}

.data {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  li {
    text-transform: uppercase;
    margin-bottom: 5px;
    &:last-child {
      margin-top: 15px;
    }
    span {
      font-weight: 700;
    }
  }
}

.gallery-open {
  @include baseBox;
  border-color: $c-grey--dark;
  background-color: $c-white;
  color: $c-grey--dark;
  margin: 0 auto 2rem;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 300;
  display: block;
}

.footer {
  padding: 15px 30px;
  background-color: $c-grey--dark;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  @include breakpoint(medium) {
    flex-direction: row;
  }
  a {
    font-weight: 300;
    color: $c-green-text;
  }
}