/**
 * @file
 * Breakpoints
 */

/**
 * Default breakpoints
 *
 * Default global breakpoints map. These are the default breakpoints map that
 * will be shared across all shake modules. You can change it also locally to
 * each module. Don't forget you have to use only pixels or ems here!
 *
 * @type Map
 *
 * @example
 *   @include breakpoint(medium) {
 * }
 *
 */
$global-breakpoints: (
  xsmall    : "screen and (min-width: 23em)",     // 368px
  small     : "screen and (min-width: 36em)",     // 576px
  medium    : "screen and (min-width: 48em)",     // 768px
  large     : "screen and (min-width: 62em)",     // 992px
  xlarge    : "screen and (min-width: 75em)",     // 1200px
  xxlarge   : "screen and (min-width: 112.5em)",  // 1800px
  xxxlarge  : "screen and (min-width: 131.25em)"  // 2100px
);

/**
 * Default breakpoint suffix
 *
 * Global breakpoint suffix naming setting.
 * All breakpoint specific styles have a `@breakpoint-name` suffix by default.
 * The `\` character is used to escape the `@` character.
 *
 * @type String
 */
$global-breakpoint-separator: \@;

/**
 * Sample for custom breakpoints
 *
 * @type Map
 *
 * @example
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include breakpoint(large, $my-breakpoints) {
 *       margin-right: 0;
 *     }
 *   }
 *
 * Using a custom breakpoints map without size
 * You can use `null` value for breakpoint without size like orientation only.
 *
 * @example
 *   $portrait: (
 *     null   : screen and (orientation: portrait),
 *     small  : screen and (orientation: portrait) and (min-width: 20em), // 320px
 *     xlarge : screen and (orientation: portrait) and (min-width: 80em) // 1280px
 *   );
 *
 * @example
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include breakpoint($portrait) {
 *       margin-right: 0;
 *     }
 *   }
 */

/**
 * max-width
 */
$max-width: (
  xsmall    : "screen and (max-width: 22.94em)",    // 367px
  small     : "screen and (max-width: 35.94em)",    // 575px
  medium    : "screen and (max-width: 47.94em)",    // 767px
  large     : "screen and (max-width: 61.94em)",    // 991px
  xlarge    : "screen and (max-width: 74.94em)",    // 1199px
  xxlarge   : "screen and (max-width: 112.44em)",   // 1799px
  xxxlarge  : "screen and (max-width: 131.18em)"    // 2099px
);
