.main {
   /* // font-family: Quicksand, sans-serif;*/
    background-color: #040444;
    border: 10px solid #7ce04a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
    color: white;
}

.container.first {
    margin-top: auto
}

.logo {
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    background-color: #040444;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px
}


[dir=ltr] .main-menu {
    margin-left: 0
}

[dir=ltr] .main-menu, [dir=rtl] .main-menu {
    margin-right: 0
}

[dir=rtl] .main-menu {
    margin-left: 0
}

[dir=ltr] .main-menu {
    padding-left: 0
}

[dir=rtl] .main-menu {
    padding-right: 0
}

.main-menu {
    -webkit-margin-before: 0;
    margin-top: 0;
    -webkit-margin-after: 0;
    margin-bottom: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px
}

.main-menu li {
    transition: all .3s;
    border-radius: 7px;
    border: 1px solid #7ce04a;
    background-color: rgba(124, 224, 74, .15);
    color: #7ce04a;
    margin: 0 7px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer
}

.main-menu li:hover {
    background-color: rgba(124, 224, 74, .25)
}

.main-menu li.active {
    background-color: rgba(124, 224, 74, .35)
}

.main-menu li.inactive {
    pointer-events: none;
    opacity: .5
}

.slogan {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #7ce04a;
    letter-spacing: 1px;
    max-width: 35%;
    text-align: center
}

.slogan h1 {
    font-size: 30px;
    font-weight: 700
}

.slogan h2 {
    font-size: 20px
}

.category-wrapper {
    margin-top: 50px;
    display: none
}

.category-wrapper.open {
    display: block
}

.info-text {
    letter-spacing: 1px;
    text-align: center;
    max-width: 35%;
    font-size: 15px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px
}

.info-text, .info-text a {
    color: #7ce04a
}

.info-text-mobile a, .info-text a {
    font-weight: 700;
    color: #fff
}

.info-text-mobile {
    color: #fff;
    letter-spacing: 1px;
    background-color: rgba(4, 4, 68, .5);
    padding: 10px;
    margin-bottom: 20px
}

.trailer-box {
    transition: all .3s;
    border-radius: 7px;
    border: 1px solid #7ce04a;
    background-color: rgba(124, 224, 74, .15);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer
}

.trailer-box:hover {
    background-color: rgba(124, 224, 74, .25)
}

.trailer-box .trailer-title {
    font-size: 20px;
    text-align: center;
    color: #7ce04a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    max-width: 220px
}

.trailer-box .trailer-image {
    transition: all .5s;
    display: block;
    width: 200px;
    cursor: pointer;
    margin-top: 30px
}

/*# sourceMappingURL=../maps/style.css.map */
